.patchlist tr {
    cursor: pointer;
}

.patchlist tr:nth-child(odd) {
    background-color: rgba(0, 128, 0, 0.24);
}

.patchlist tr:nth-child(even) {
    background-color: rgb(147, 146, 240, 0.34)
}

.patchlist tr.selected {
    color: red;
    text-shadow: 3px 3px 3px rgba(255, 10, 10, 0.7);
    transition: all 0.2s ease-out;
}